{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Top Trumps</title>
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
    <script src="{% static 'main/join_room.js' %}"></script>
  </head>
  <body>
    <div class="container">
      {%block content %}
      
      {% endblock content %}
    </div>
  </body>
</html>